body {
  background-color: #fcf9ee;
  font-size: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.upper-content {
  background-image:url(../content/fieldgraphic.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 2.2em 0 0 0;
  min-height: 300px;
}

.main div {
  text-align: center;
  display: block;
}

#logo {
  margin: 14px auto; /* not sure if still needed */
  display: block;
  text-align: center;
}

#logo img {
  width: 140px;
}

#field {
  padding-left: 24px;
  margin: 22px;
  display:inline;
  z-index: -1;
}

#description {
  text-align: right;
}

#quote {
  text-align: left;
  font-style: italic;
}

#description, #quote {
  padding-top: 2em;
}

.textsep {
  margin: 1.4em;
}

.tagline {
  width: 30em;
  margin: 0 auto;
  font-size: 1.1em;
}

.impact {
  margin: 0.5em;
  font-size: 1.3em;
}

.smallimpact {
  margin: 4px;
  font-size: 1.05em;
}

div.hr {
  border: 1px solid #aaa;
  height: 1px;
  margin: 2em 0;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

p {
  line-height: 1.44;
}

#description {
  position: absolute;
  right: 50%;
  padding-right: 6em;
  width: 32em;
  text-align: right;
}

#quote {
  position: absolute;
  left: 50%;
  padding-left: 4em;
  width: 32em;
  text-align: left;
  font-style: italic;
}

.walloftext ul, .walloftext h3 {
  text-align: left;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 2em;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
}

li {
  list-style-type: none;
  margin: 0.3em 0;
}
